<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <div class="page-section">
            <h2>{{ restaurant.get('name') }}</h2>
            <div>
                <img src="{{restaurant.get('image_url') }}" class="image"/>
                <p>Top Restaraunt in {{city}}</p>
            </div>
            <p>Price: $$ </p>
            <p>Rating: 4.5</p>
            <p># Reviews: 1,200</p>
        </div>
    </main>
</body>
</html>

